.nav {
  width: 100%;
  height: 100px;
}

.nav__container {
  width: calc(100% - 100px);
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: inline-flex;
  flex-direction: row;
  list-style: none;
}

.nav__item {
  color: #5A5A5A;
  font-size: 14;
  font-weight: 400;
}

.nav__item:not(:last-child) {
  margin-right: 30px;
}

.nav__link {
  color: inherit;
}

.nav__buttonsContainer {
  display: inline-flex;
  align-items: center;
}

.nav__signinBtn {
  display: inline-block;
  padding: 15px 60px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  background-color: #6418C3;
  border-radius: 20px;
}


.nav__signupBtn {
  display: inline-block;
  padding: 15px 60px;
  font-size: 14px;
  font-weight: 400;
  color: #5A5A5A;
  outline: 3px solid #5A5A5A;
  border-radius: 20px;
}

.active {
  font-weight: 600;
}