.register {
  min-height: 100vh;
  height: 100vh;
}

.register__container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.register__left {
  width: 500px;
  height: 100%;
  background-color: #FFB1B7;
}

.left {}

.left__content {
  margin: 50px 0 50px 50px;
  height: calc(100% - 100px);
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.left__text {
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.register__right {
  width: calc(100vw - 500px);
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.alreadyHaveAccount {
  position: absolute;
  top: 50px;
  right: 50px;
}

.alreadyHaveAccount a {
  color: #775DA6;
}

.signupSection {}

.signupSection__header {
  margin-bottom: 30px;
  color: #202020;
  font-size: 24px;
  font-weight: 400;
}

.form {}

.form__section {}

.form__input {
  width: 370px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #DCDCDC;
  margin-bottom: 20px;
}

.form__btnSubmit {
  width: 370px;
  padding: 15px 0;
  color: white;
  font-size: 17px;
  font-weight: 400;
  background-color: #775DA6;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

.errorsList {
  list-style: none;
}

.errorsItem {
  max-width: 400px;
  margin-bottom: 5px;
  color: #ff6b6b;
  font-size: 12px;
  font-weight: 400;
}

.successMessage {
  max-width: 400px;
  margin-bottom: 5px;
  color: #62d411;
  font-size: 12px;
  font-weight: 400;
}